/* styles.css */

@font-face {
  font-family: 'Bricolage Grotesque';
  src: url('assets/fonts/bricolage-grotesque.woff2') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Std';
  src: url('assets/fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Std';
  src: url('assets/fonts/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url('assets/fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Std';
  src: url('assets/fonts/CircularStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

body, h3{
  font-family:'Circular Std';
  margin: 0;
  padding: 0px;
  width: 100%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

/* Header Styles */
.header {
  background: #f3f5fb;
  height: 110px;
  padding: 20px 100px;
  display: flex;
}
.hamburger {
  display: none;
  vertical-align: middle;
  flex-direction: column;
  cursor: pointer;
}
.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  font-weight: 450;
  font-size: 16px;
  line-height: 20.24px;
}
.navbar-brand {
  position: relative;
  font-size: 1.5em;
  color: #00b894;
  text-decoration: none;
  left: 154px;
  width: 192px;
  height: 36.49px;
}
.navbar-nav {
  list-style: none;
  display: flex;
  gap: 50px;
}
.navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.cta-buttons {
  position: relative;
  display: flex;
  gap: 10px;
  right: 108px;
}
.btn {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}
.dropdown-menu{
  position: absolute;
  top: 100px;
  display: none;
  width: 209px;
  border-radius: 17.28px;
  border: 1.73px solid #DBDBDB;
  background: #fff;
  padding: 10px 0px;
  box-shadow: 1px #1A2835;
}
.dropdown-menu li{
  text-decoration: none;
  padding: 10px;
}
.dropdown-menu li:hover{
  background: #B0F6C2;
}
.dropdown-menu li a{
  text-decoration: none;
  color: #091226
}
.nav-item:focus-within .dropdown-menu{
  display: block;
}
.btn-success {
  background-color: #77DB89  ;
  color:#091226;
  border: 1px solid #000000  ;
  border-radius: 6.36px;
}
.btn-outline-success {
  color: #091226;
}
.btn-outline-success img{
  height: 15px;
  width: 15px;
  vertical-align: middle;
  opacity: 0.6;
}
.watch-demo-text{
  position: relative;
  top: 1px
}
.mobile-bg-wrap{
  display: none;
}

/*---------------- Main Content Styles----------------------- */
.main-content {
  padding: 60px 80px;
}
.hero {
  display: flex;
  /* gap: 40px; */
  align-items: center;
  justify-content: space-around;
}
.hero-content {
  order: 1;
  width: 50vw;
}
.hero-content p img{
  height: 18px;
  display: inline-block;
  vertical-align: middle;
}
.hero-content .trusted-by{
  margin: auto;
  width: 243px;
  border-radius: 60px;
  text-align: center;
  border:1px solid #091226;
  padding: 6px 27px 6px 27px
}
.intro-content{
  width: 600px;
  margin-bottom: 40px;
}
.hero-content span{
  font-size: 18px;
  width: 700px;
  line-height: 25.56px;
  font-weight: 450p;
  margin-bottom: 30px;
}
.hero-content .trusted-by{
  position: absolute;
  text-align: left;
}
.hero-content img:first-child{
  height: 25px;
  display: inline-block;
  vertical-align: middle;
}
.hero-content h1 {
  font-family:'Bricolage Grotesque';
  font-size: 56px;
  margin-top: 80px;
}

.hero-buttons a {
  border: 1px solid #091226;
  font-size: 14px;
  color: #091226;
  margin-right: 10px;
}
.top-product {
  display: grid;
  align-items: center;
  height: 800px;
  width: 50vw;
  background: #F8F3EF;
  border: 1px solid #e0e0e0;
  border-radius: 17.28px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  order: 1;
}
.top-product-wrap{
  width: 611px;
  height: 380px;
  margin: auto;
  background: #fff;
  color: #000000;
  border: 10px solid #EEEEEE;
  border-radius: 10px;
  padding: 30px 25px 70px 10px;
}
.top-product-wrap-inner{
  display: grid;
  grid-template-columns: 22ch auto;
  width: 521.33px;
  height: 218.07px;
  color: #5A5C60;
  margin-top: 10px;
}
.first-item{
  text-align: left;
}

.first-item p {
  position: absolute;
  padding-bottom: 15px;
}
.first-item div {
  width: 122px;
  height: 38px;
  margin-left: 30px;
  border: 1px solid gray;
  border-radius: 15.95px;
  text-align: center;
  display: grid;
  align-items: center;
  color: #fff;
  margin-top: 30px;
  background: #FFA86B;
}
.first-item div img {
  position: absolute;
  margin-top: 35px;
  margin-left: 20px;
  height: 130px;
}
.second-item{
  width: 300px;
  background: #ecf0f1;
  background-image: url("assets/images/Vector_bg.png");
  background-size: cover;
  background-position: center;
  padding: 30px;
  text-align: center;
  color: white;
  border-radius: 6.38px;
}
.hero-btn-menu{
  text-align: left;
  position: absolute;
  width: 312.72px;
  padding: 15px;
  font-weight: 450;
  border: 1px solid #DBDBDB;
  border-radius: 17.28px;
  background: #fff;
  margin-left: -50px;
  margin-top: 56px;
  color: #000;
  box-shadow: 3px rgba(0, 0, 0, 0.1);

}
.hero-btn-menu div:first-child{
  display:grid;
  align-items: center;
  width: 105.53px;
  height: 40.14px;
  text-align: center;
  font-size: 29.03px;
  color: #FFFFFF;
  margin-bottom: 10px;
  background: #77DB89;
  border-radius: 20.31px;
}
.hero-btn-menu h1{
  font-size: 29.03px;
  color: #091226
}
.hero-menu-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 20.73px;
  line-height: 23.82px;
  font-family: 'Circular Std';
  border-top: 1.04px solid #EFEFEF;
  padding: 16.59px  0px 16.59px;
}

.top-product h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.top-product ul {
  list-style: none;
  padding: 0;
}

.top-product ul li {
  margin-bottom: 5px;
}
.top-product .btn-warning {
  background-color: #f0ad4e;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
}
.product-stats {
  margin-top: 20px;
}
.product-stats .stat-item {
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
}

.product-stats .stat-item span {
  background-color: #00b894;
  color: #fff;
  border-radius: 50%;
  padding: 5px 10px;
  margin-right: 10px;
}

.product-stats .stat-item h4 {
  display: inline;
}

.product-stats .stat-item ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.product-stats .stat-item ul li {
  margin-bottom: 5px;
}

/* Responsive Styles */
@media (max-width: 550px) {
  .header{
    padding-right: 65px;
  }
  .navbar-brand img{
    width: 145px;
    position: relative;
    top: 7px;
    left: 30px;
  }
  .trusted-by img{
    height: 25px;
    display: inline-block;
    vertical-align: middle;
  }
  .hero-content .trusted-by{
    background: #F2F5F9;
    border: none;
  }
  .start-trial{
    position: absolute;
    width: 80px;
    font-size: 13px;
    padding: 5px;
    text-align: center;
    top: 4px;
  }
}
@media (min-width: 300px) and (max-width: 1350px) {
  .top-product-wrap{
    width: 450px;
  }
  .second-item{
    width: 180px;
  }
  .hero-btn-menu{
    width: 190px;
  }
  .hero-menu-item{
    font-size: 15px;
    line-height: 22px;
  }
  .intro{
    width: 300px;
    background: red;
  }
}
@media (max-width: 1350px) {
  .main-content{
    padding: 0px;
    display: flex;
  }
  .break {
    display: none;
  }
  .hamburger{
    display: block;
    position: absolute;
    left: 30px;
  }
  .navbar-brand{
    position: relative;
    left: -40px;
    vertical-align: middle;
    top: -3px;
  }
  .navbar-nav, .login-btn{
    display: none;
  }
  .start-trial{
    position: absolute;
    left: 45%;
    margin-left: 30px;
    width: 112px;
    margin-top: -20px;
    vertical-align: middle;
  }
  .hero{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
    background: #F8F3EF;
  }
  .hero-content{
    width: 100%;
    margin: 10px;
    text-align: center;
  }
  .hero-content h1{
    margin-top: 20px;
    font-size: 32px;
    font-weight: 700;
  }
  .hero-content .trusted-by {
    position: relative;
    margin: auto;
    margin-top: 5px;
    background: #F2F5F9;
    margin-bottom: 0;
  }

  .intro{
    width: 400px;
    text-align: center;
  }
  .intro-content{
    width: 100%;
  }
  
  .mobile-bg-wrap{
    display: block;
    position: relative;
    margin-bottom: 40px;
   }
  .bg-img{
   position: relative;
   height: 400px;
  }
  .intro-content{
    font-size: 16px;
    line-height: 22.72px;
  }
  .top-product{
    display: none;
  }
  .hero-buttons{
    display: grid;
    gap: 20px;
  }
}


